{% extends "base_2.html" %}
{% block content %}

<div class="jumbotron" style="background:linear-gradient(to right, #1a2980, #26d0ce)" >
	<h1 align="center" style="color:white">ABOUT ME </h1>
	<h5 align="center" style="color:white">This is what i do</h5>
</div>
<div class="container">
	<div class="jumbotron" style="background:linear-gradient(#1a2980, #26d0ce); color:white">
	<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid assumenda culpa error est explicabo facere
		inventore laborum modi neque nostrum numquam, quae quam saepe sequi soluta ullam veniam voluptas!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad est odit quas. Ab consequatur eos exercitationem
		qui rerum sit voluptas. Dolores, soluta, voluptatem! Atque eius placeat quos recusandae voluptatibus! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid assumenda culpa error est explicabo facere
		inventore laborum modi neque nostrum numquam, quae quam saepe sequi soluta ullam veniam voluptas!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad est odit quas. Ab consequatur eos exercitationem
		qui rerum sit voluptas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid assumenda culpa error est explicabo facere
		inventore laborum modi neque nostrum numquam, quae quam saepe sequi soluta ullam veniam voluptas!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad est odit quas. Ab consequatur eos exercitationem
		qui rerum sit voluptas Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid assumenda culpa error est explicabo facere
		inventore laborum modi neque nostrum numquam, quae quam saepe sequi soluta ullam veniam voluptas!
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus ad est odit quas. Ab consequatur eos exercitationem
		qui rerum sit voluptas</p>
	</div>
</div>
{% endblock %}