{% extends "base.html" %}
{% block content %}

<img style="width:100%; height:500px" src="{{url_for('static', filename='images/'+post.image)}}" class="img-fluid" alt="Responsive image">
<div class="jumbotron jumbotron-fluid" style="background:linear-gradient(to right, #654ea3, #eaafc8); color:white">
  <div class="container">
    <h1 class="display-4">{{post.title}}</h1>
    <p >Posted On : {{post.date.strftime("%d-%m-%y")}}</p><hr>
    <p class="lead">{{post.content}}</p>
  </div>
</div>
{% endblock %}